:root {
    --primary-color: #ffe600;
    --primary-text: #1e1e1e;
}

.container {
    max-width: 1205px;
    margin: 0 auto;
    padding: 0px 15px;
}


/* nav bar */

.nav-bar {
    padding: 15px 0;
    margin-bottom: 120px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.nav-main {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
}

.nav-link {
    text-transform: uppercase;
    color: var(--primary-text);
    padding: 8px 12px;
    margin: 0 30px;
    /* background-color: red; */
}

.nav-item .nav-link:last-child {
    margin-right: 0;
}

.nav-link:hover {
    background-color: var(--primary-color);
    border-radius: 5px;
}


/* nav-mobile */

.nav-main {
    overflow: hidden;
}

.nav-btn-mobile {
    width: 30px;
    height: 30px;
    display: none;
    margin-right: 10px;
}

.nav-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.nav-list-mobile {
    position: fixed;
    top: 0;
    /* right: 0; */
    left: 0;
    width: 280px;
    bottom: 0;
    max-width: 100%;
    background-color: #fff;
    text-align: center;
    transform: translateX(-100%);
    /* display: none; */
    transition: transform linear 0.5s;
    /* animation: showhom linear 0.5s; */
}

@keyframes showhome {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes showhome1 {
    from {
        opacity: 1;
        transform: translateX(-0%);
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.nav-item-mobile {
    margin-top: 32px;
    /* margin-left: 15px; */
}

.nav-link-mobile {
    text-transform: uppercase;
    font-size: 24px;
    padding: 8px 0;
    display: block;
}

.nav-close {
    font-size: 1.5px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
}

input#nav-home:checked~.nav-overlay {
    display: block;
}

input#nav-home:checked~.nav-list-mobile {
    transform: translateX(0%);
}


/* header */

.header {
    margin-top: 203px;
}

.header-main {
    display: flex;
    justify-content: space-between;
}

.header-title {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.5555;
}

.header-desc {
    font-size: 12px;
    font-weight: 500;
    margin: 35px 0 45px;
}

.header-btn {
    display: inline-block;
    font-size: 15px;
    color: var(--primary-text);
    font-weight: 500;
    margin-bottom: 30px;
}


/* portfolio */

.portfolio {
    padding: 120px 0;
}

.portfolio-heading {
    font-size: 58.79px;
    font-weight: 800;
    text-transform: uppercase;
    /* margin-bottom: 70px; */
}

.portfolio-filter {
    margin: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-item {
    display: none;
    padding-left: 20px;
    font-weight: 500;
}

.portfolio-filter__list {
    display: flex;
}

.portfolio-filter__link {
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    padding: 15px 20px;
    text-transform: uppercase;
    color: var(--primary-text);
}

.portfolio-filter__link:hover {
    background-color: var(--primary-color);
    border-radius: 5px;
}

.portfolio-filter__images {
    padding: 65px 0;
}

.portfolio-filter__item-img {
    margin-bottom: 30px;
    display: block;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.portfolio-filter__item-img img {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.portfolio-filter__item-img:hover .portfolio-filter__hover {
    background-color: var(--primary-color);
    border-radius: 5px;
    display: flex;
    opacity: 1;
}

.portfolio-filter__hover {
    align-items: center;
    position: absolute;
    display: none;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--primary-text);
    min-width: 100%;
    top: 0;
    height: 100%;
    animation: hover linear 0.5s;
    border-radius: 4px;
    /* transform: translateX(0); */
}

@keyframes hover {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.portfolio-filter__btn {
    display: flex;
    justify-content: center;
}


/* partner */

.partner {
    padding: 80px 0 125px;
}

.partner-list {
    display: flex;
    justify-content: space-between;
}

.partner-item {
    display: block;
    margin-top: 30px;
}


/* about */

.about {
    padding: 125px 0;
}

.about-header {
    max-width: 545px;
}

.about-heading {
    font-size: 58.79px;
    font-weight: 800;
}

.about-desc {
    font-size: 12px;
    font-weight: 500;
    margin: 60px 0;
    line-height: 2.2;
}

.about-item {
    margin-bottom: 20px;
}

.about-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-img {
    position: relative;
    display: block;
}


/* .about-item:last-child {
    max-width: 250px;
} */

.about-info {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    bottom: 0;
    background-color: var(--primary-color);
    padding: 17px 45px;
    width: 70%;
}

.about-name {
    font-size: 15px;
    font-weight: 800;
}

.about-job {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    margin-top: 10px;
}

.about-title {
    font-size: 20px;
    font-weight: 800;
}

.about-item--desc {
    margin: 40px 0 50px;
    line-height: 1.6;
    /* margin-top: 20px; */
}

.about-item--desc,
.about-read {
    font-size: 12px;
}


/* blog */

.blog {
    padding-top: 125px;
}

.blog-header {
    max-width: 550px;
}

.blog-title {
    font-size: 57.79px;
    font-weight: 800;
}

.blog-header div {
    min-height: 100px;
}

.blog-desc {
    padding: 80px 0;
    font-size: 12px;
    line-height: 2.2;
    animation: hover linear 0.7s;
    /* display: none; */
}

.blog-article {
    display: flex;
    justify-content: space-between;
}

.article-1,
.article-2,
.article-3 {
    max-width: 371px;
    text-align: center;
}

.article-heading {
    font-size: 15px;
    font-weight: 800;
    margin: 30px 0;
}

.article-desc,
.article-date {
    font-size: 12px;
    line-height: 2.2;
}

.article-desc {
    margin-bottom: 30px;
}

.article-img>div {
    position: relative;
    display: block;
    overflow: hidden;
}

.article-img>div:hover .article-read--more,
.article-img>div:hover .blog-desc {
    display: flex;
}

.article-read--more {
    align-items: center;
    position: absolute;
    display: none;
    font-size: 30px;
    font-weight: 800;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--primary-text);
    min-width: 100%;
    top: 0;
    height: 100%;
    animation: hover linear 0.7s;
    border-radius: 4px;
    transform: translateX(0);
}


/* contact */

.contact {
    padding-top: 125px;
}

.contact-header {
    max-width: 545px;
}

.contact-title {
    font-size: 57.79px;
    font-weight: 800;
}

.contact-desc {
    font-size: 12px;
    line-height: 2.2;
    font-weight: 500;
    margin: 30px 0;
}

.contact-form,
.contact-img {
    margin-top: 60px;
}

.contact-form {
    max-width: 545px;
}

.form-title {
    font-size: 30px;
    margin: 30px 0;
    font-weight: 800;
}

.form-control {
    width: 100%;
    outline: none;
    background-color: #fdfdfd;
    padding: 20px 15px;
    font-size: 12px;
    color: var(--primary-text);
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.form-control::placeholder {
    color: var(--primary-text);
}

.form-name,
.form-emai,
.form-message {
    margin-bottom: 15px;
}

.form-message textarea {
    resize: none;
}

.contact-me {
    margin: 80px 0;
}

.contact-address,
.contact-phone,
.contact-mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-text);
    margin-bottom: 20px;
}

.contact-svg {
    margin-bottom: 30px;
}

.contact-social {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.social-icon {
    font-size: 30px;
    padding: 5px 12px;
    margin: 0px 30px;
}


/* footer */

.footer {
    background-color: #1e1e1e;
    padding: 64px 0;
}

.footer-main {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-title {
    margin-left: 20px;
    font-size: 11px;
}

.right-text {
    font-size: 11px;
    text-transform: uppercase;
    display: block;
    color: white;
}

.footer-icon {
    margin-left: 5px;
}